<div ngbDropdown class="nav-item dropdown" style="margin-right:20px;">
  <a ngbDropdownToggle class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{user.username}} 
    <span *ngIf="messages?.length > 0" class="badge badge-pill badge-warning">{{messages?.length}}</span>
  </a>
  <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" routerLink="/messages">Messages<span class="badge badge-pill badge-warning">{{messages?.length}}</span></a>
    <a class="dropdown-item" routerLink="/reservations">Reservations</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" routerLink="/changepass">Change Password</a>
  </div>
</div>