<div class="form-group text-left">
  <label for="name">Hour</label>
  <input class="form-control" type="number" placeholder="Hour" [(ngModel)]="projection.hour">
</div>

<div class="form-group text-left">
  <label for="name">Max number of tickets per person</label>
  <input class="form-control" type="number" placeholder="Max" [(ngModel)]="projection.maxtickets">
</div>

<div class="form-group text-left">
  <label for="tickets">Number of tickets</label>
  <input class="form-control" type="number" placeholder="Tickets" [(ngModel)]="projection.tickets">
</div>


<button type="button" 
  class="btn btn-danger btn-sm pull-right" 
  (click)="confirm()" 
  [disabled]="!isValid()">
      Submit    
</button>