<p-accordion>
    <p-accordionTab header="New Users" [selected]="true">

        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #inactUsrs type="text" pInputText size="45" placeholder="Search users">
        </div>

        <p-dataTable [value]="inactiveUsers" 
        [rows]="10" [paginator]="true" 
        [pageLinks]="3" 
        [rowsPerPageOptions]="[5,10,20]"
        [globalFilter]="inactUsrs" #inactUtb>

            <p-column field="username" header="Username"></p-column>
            <p-column field="name" header="Name"></p-column>
            <p-column field="lastname" header="Last Name"></p-column>
            <p-column field="email" header="Email"></p-column>

            <p-column header="Activate">
                <ng-template let-user="rowData" pTemplate="body">
                    <button class="btn btn-sm btn-succes" (click)="activateUser(user)">Activate</button>
                </ng-template>
            </p-column>

            <p-column header="Delete">
                <ng-template let-user="rowData" pTemplate="body">
                    <button class="btn btn-sm btn-danger" (click)="deleteInactiveUser(user)">Delete</button>
                </ng-template>
            </p-column>

        </p-dataTable>

    </p-accordionTab>

    <p-accordionTab header="Active Users">

        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #actUsrs type="text" pInputText size="45" placeholder="Search users">
        </div>

        <p-dataTable [value]="activeUsers" 
        [rows]="10" [paginator]="true" 
        [pageLinks]="3" 
        [rowsPerPageOptions]="[5,10,20]"
        [globalFilter]="actUsrs" #actUtb>

            <p-column field="username" header="Username"></p-column>
            <p-column field="email" header="Email"></p-column>

            <p-column header="Set seller">
                <ng-template let-user="rowData" pTemplate="body">
                    <button class="btn btn-sm btn-danger" *ngIf="!isSeller(user)" (click)="setSeller(user)">Set Seller</button>
                    <button class="btn btn-sm btn-succes" *ngIf="isSeller(user)" (click)="removeSeller(user)">Remove</button>
                </ng-template>
            </p-column>

            <p-column header="Ban User">
                <ng-template let-user="rowData" pTemplate="body">
                    <button class="btn btn-sm btn-danger" *ngIf="!user.banned" (click)="banUser(user)">Ban</button>
                    <button class="btn btn-sm btn-succes" *ngIf="user.banned" (click)="unbanUser(user)">Unban</button>
                </ng-template>
            </p-column>

            <p-column header="Delete">
                <ng-template let-user="rowData" pTemplate="body">
                    <button class="btn btn-sm btn-danger" (click)="deleteUser(user)">Delete</button>
                </ng-template>
            </p-column>

        </p-dataTable>

    </p-accordionTab>

    <p-accordionTab header="Festivals">

        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #fests type="text" pInputText size="45" placeholder="Search festivals">
        </div>

        <p-dataTable [value]="festivals" 
        [rows]="10" [paginator]="true" 
        [pageLinks]="3" 
        [rowsPerPageOptions]="[5,10,20]"
        [globalFilter]="fests" #cfests>

            <p-column field="name" header="Name"></p-column>

            <p-column header="Set visible">
                <ng-template let-festival="rowData" pTemplate="body">
                    <button class="btn btn-sm btn-danger" *ngIf="!festival.visible" (click)="setVisible(festival)">Set Visible</button>
                    <button class="btn btn-sm btn-succes" *ngIf="festival.visible" (click)="setInvisible(festival)">Set Invisible</button>
                </ng-template>
            </p-column>

        </p-dataTable>

    </p-accordionTab>

    <p-accordionTab header="Places">

        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #plcs type="text" pInputText size="45" placeholder="Search places">
        </div>

        <p-dataTable [value]="places" 
        [rows]="10" [paginator]="true" 
        [pageLinks]="3" 
        [rowsPerPageOptions]="[5,10,20]"
        [globalFilter]="plcs" #cplcs>

            <p-column field="name" header="Name"></p-column>

        </p-dataTable>

    </p-accordionTab>

    <p-accordionTab header="Loccations">

        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #lctns type="text" pInputText size="45" placeholder="Search places">
        </div>

        <p-dataTable [value]="locations" 
        [rows]="10" [paginator]="true" 
        [pageLinks]="3" 
        [rowsPerPageOptions]="[5,10,20]"
        [globalFilter]="lctns" #clctns>

            <p-column field="name" header="Name"></p-column>

            <p-column header="Place">
                <ng-template let-location="rowData" pTemplate="body">
                    {{location.place.name}}
                </ng-template>
            </p-column>

        </p-dataTable>

    </p-accordionTab>
</p-accordion>
