<div class="row alert-danger" *ngIf="isError">
  <div class="col-md-12">
    Something went wrong. Try again later.
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <label>
      Old Password
    </label>
    <input type="password" class="form-control" [(ngModel)]="passJson.oldPass">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>
      New Password
    </label>
    <input type="password" class="form-control" [(ngModel)]="passJson.newPass">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label>
      Confirm Password
    </label>
    <input type="password" class="form-control" [(ngModel)]="confPass">
  </div>
</div>

<div class="row" style="margin-top:20px">
  <div class="col-md-12">
    <button class="btn btn-primary" [disabled]="!isValid()" (click)="confirm()">Submit</button>
  </div>
</div>